name: picks_empire
description: "A new Flutter project."

publish_to: 'none'


version: 1.0.0+1

environment:
  sdk: ^3.10.4


dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^3.2.0
  dio: ^5.9.0
  shared_preferences: ^2.5.4
  font_awesome_flutter: ^10.12.0



  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0



flutter:


  uses-material-design: true

  assets:
    - assets/images/

